/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* fonts start */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}
/* fonts end */

/* reset start */
* {
  margin: 0;
  padding: 0;

  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  opacity: 0;

  -webkit-transition: opacity 0.8s ease-in-out;
       -o-transition: opacity 0.8s ease-in-out;
          transition: opacity 0.8s ease-in-out;

  scroll-behavior: smooth;
}

html.loaded {
  opacity: 1;
}

html.lock {
  overflow: hidden;

  -ms-touch-action: none;
      touch-action: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  -ms-scroll-chaining: none;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

sup {
  color: inherit;
}
/* reset end */

/* global start */
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT sans", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/* global end */

/* global element start */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.rectangle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 36px;
  padding: 8px 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #756157;
  border-radius: 4px;

  -webkit-transition: background-color 0.3s, color 0.3s;
       -o-transition: background-color 0.3s, color 0.3s;
          transition: background-color 0.3s, color 0.3s;
}

.rectangle:hover {
  background-color: #615048;
}

.rectangle:active {
  color: rgba(255, 255, 255, 0.3);
}

.rectangle:disabled {
  background-color: #e5e5e5;
}

.rectangle:disabled[type=reset] {
  background-color: transparent;
  opacity: 0.1;
}
/* global element end */

/* box-description start */
.box-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 0 400px;
  -webkit-box-flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 385px;
  padding: 100px 85px;

  text-align: center;

  -ms-flex: 0 0 400px;
  gap: 28px;
}

.box-description__title {
  width: 230px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.box-description__text {
  width: 230px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  word-wrap: break-word;
}
/* box-description end */

/* description start */
.description {
  padding: 70px 70px;

  text-align: center;
}

.description__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
/* description end */

/* subscription start */
.subscription__description {
  padding-top: 96px;
  padding-bottom: 105px;

  color: #ffffff;

  background-color: #aad1ff;
  background-image: url("../images/subscription.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__description--catalog {
  color: #000000;

  background-color: #ffffff;
  background-image: none;
}

.subscription__title {
  margin-bottom: 20px;
}

.subscription__text {
  margin-bottom: 54px;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscription__email {
  width: 452px;
  height: 52px;
  padding: 12px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  background-color: #f2f2f2;
}

.subscription__email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  opacity: 0.6;
}

.subscription__email::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  opacity: 0.6;
}

.subscription__email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  opacity: 0.6;
}

.subscription__email::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  opacity: 0.6;
}

.subscription__email::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  opacity: 0.6;
}

.subscription__button {
  width: 232px;

  font-size: 20px;

  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscription__button:hover,
.subscription__button:active {
  background-color: #68a2ca;
}
/* subscription end */

/* header start */
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-right: 70px;
  padding-left: 70px;
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 1 0 532px;
  -webkit-box-flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 28px;
  margin-left: 28px;

  -ms-flex: 1 0 532px;
}

.header__navigation-link {
  position: relative;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  border-color: transparent;
}

.header__navigation-link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  z-index: 1;

  width: calc(100% - 32px);

  border-bottom: 2px solid #756157;
  opacity: 0;

  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.header__navigation-link:hover::before,
.header__navigation-link:focus::before {
  opacity: 1;
}

.header__navigation-link--active::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  z-index: 1;

  width: calc(100% - 32px);

  border-bottom: 2px solid #756157;
  opacity: 1;
}

.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 1 132px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;

  -ms-flex: 0 1 132px;
}

.header__icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 64px;

  background-repeat: no-repeat;
  background-position: center;
}

.header__icon-link--search {
  background-image: url("../images/icon-search.svg");
}

.header__icon-link--heart {
  position: relative;

  background-image: url("../images/icon-heart.svg");
}

.header__icon-link--heart::before {
  content: "12";
  position: absolute;
  top: 11px;
  left: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  font-family: "PT sans", Arial, sans-serif;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.header__link {
  width: 160px;
  margin-top: 14px;
  margin-bottom: 14px;
}
/* header end */

/* footer start */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 1 150px;
  -webkit-box-flex: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -ms-flex: 0 1 150px;
}

.footer__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.footer__social-icon {
  color: #83b3d3;

  -webkit-transition: color 0.3s, opacity 0.3s;
       -o-transition: color 0.3s, opacity 0.3s;
          transition: color 0.3s, opacity 0.3s;
}

.footer__social-icon:hover {
  color: #68a2ca;
}

.footer__social-icon:active {
  opacity: 0.3;
}

.footer__phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;

  -webkit-transition: color 0.3s, opacity 0.3s;
       -o-transition: color 0.3s, opacity 0.3s;
          transition: color 0.3s, opacity 0.3s;
}

.footer__phone:hover,
.footer__phone:focus {
  color: #756157;
}

.footer__phone:active {
  opacity: 0.3;
}

.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  color: #000000;

  -webkit-transition: color 0.3s, opacity 0.3s;
       -o-transition: color 0.3s, opacity 0.3s;
          transition: color 0.3s, opacity 0.3s;
}

.footer__logo:hover,
.footer__logo:focus {
  color: #756157;
}

.footer__logo:active {
  opacity: 0.3;
}
/* footer end */

/* promo start */
.promo {
  position: relative;
  top: -6px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 485px;

  background-color: #aad1ff;
  background-image: url(../images/promo-vector.svg), url(../images/promo-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.promo__entry {
  position: relative;
  top: -15px;

  margin: auto;
}
/* promo end */

/* advantage start */
.advantage__description {
  padding-top: 64px;
  padding-bottom: 89px;
}

.advantage__description-title {
  margin-bottom: 25px;
}

.advantage__list,
.advantage__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__sublist {
  color: #000000;

  background-color: #ffffff;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantage__item:nth-child(3n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.advantage__subitem {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage__subitem:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage__subitem,
.advantage__inner {
  position: relative;
}

.advantage__subitem::before,
.advantage__inner::before {
  content: "";

  width: 60px;
  height: 2px;
}

.advantage__subitem::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage__inner::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage__title {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.advantage__image {
  height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}
/* advantage end */

/* comfort start */
.comfort__description {
  padding-top: 64px;
  padding-bottom: 64px;
}

.comfort__description-title {
  margin-bottom: 20px;
}

.comfort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comfort__item {
  padding: 75px 75px;

  background-color: rgba(131, 179, 211, 0.12);

  gap: 30px;
}

.comfort__item::before {
  content: "";

  width: 75px;
  height: 75px;

  background-repeat: no-repeat;
  background-position: bottom;
}

.comfort__item:nth-child(1)::before {
  background-image: url("../images/comfort-variant-housing.svg");
}

.comfort__item:nth-child(2)::before {
  background-image: url("../images/comfort-variant-eating.svg");
}

.comfort__item:nth-child(3)::before {
  background-image: url("../images/comfort-variant-souvenir.svg");
}

.comfort__item:nth-child(2n) {
  background-color: #ffffff;
}

.comfort__icon {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;

  color: #83b3d3;
}
/* comfort end */

/* travel start */
.travel__description {
  padding-top: 96px;
  padding-bottom: 96px;
}

.travel__title {
  margin-bottom: 22px;
}

.travel__text {
  margin-bottom: 52px;
}

.travel__link {
  width: 376px;
  min-height: 52px;
  padding: 8px 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
/* travel end */

/* hotel start */
.hotel {
  position: relative;
  top: -6px;

  padding: 35px 70px 54px 70px;

  background-color: #aad1ff;
  background-image: url("../images/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel__title {
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
/* hotel end */

/* breadcrumb start */
.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;

  gap: 30px;
}

.breadcrumb__item {
  position: relative;
}

.breadcrumb__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 85px;

  width: 8px;
  height: 11px;

  background-image: url("../images/icon-breadcrumb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.breadcrumb__link:hover {
  opacity: 0.6;
}

.breadcrumb__link:active {
  opacity: 0.3;
}
/* breadcrumb end */

/* filter start */
.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__group--infrastructure {
      flex: 0 1 220px;
  -webkit-box-flex: 0;

  -ms-flex: 0 1 220px;
}

.filter__group--housing {
      flex: 0 1 292px;
  -webkit-box-flex: 0;

  -ms-flex: 0 1 292px;
}

.filter__group--price {
      flex: 0 1 357px;
  -webkit-box-flex: 0;

  -ms-flex: 0 1 357px;
}

.filter__title {
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filter__item {
  margin-bottom: 17px;
}

.filter__input--checkbox:checked + .filter__label--checkbox::before {
  background-image: url("../images/filter-checkbox.svg");
}

.filter__input--radio:checked + .filter__label--radio::before {
  background-image: url("../images/filter-radio.svg");
}

.filter__label {
  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.filter__label:hover {
  opacity: 0.6;
}

.filter__label:active {
  opacity: 0.3;
}

.filter__label--checkbox,
.filter__label--radio {
  position: relative;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 36px;

  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.filter__label--checkbox::before,
.filter__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.filter__label--radio::before {
  border-radius: 50%;
}

.filter__range-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;

  gap: 2px;
}

.filter__range-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 143px;
  height: 48px;
  padding: 12px 20px;

  background-color: #f2f2f2;
}

.filter__range-control--left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter__range-control--right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter__input--range {
  width: 100%;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT sans";

  background-color: transparent;
}

.filter__label--range {
  font-size: 18px;
  line-height: 24px;

  opacity: 0.3;
}

.filter__range-scale {
  position: relative;

  background-color: rgba(255, 255, 255, 0.3);
}

.filter__range-bar {
  height: 4px;

  background-color: #ffffff;
}

.filter__range-button {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 5px;

  -webkit-transition: outline 0.1s;
       -o-transition: outline 0.1s;
          transition: outline 0.1s;
}

.filter__range-button--min {
  top: -8px;
  left: 0;
}

.filter__range-button--max {
  top: -8px;
  left: 207px;
}

.filter__range-button:active {
  outline: 3px solid #83b3d3;
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter__submit {
  width: 191px;

  background-color: #82b3d3;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.filter__submit:hover,
.filter__submit:active {
  background-color: #68a2ca;
}

.filter__reset {
  background-color: transparent;
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
}

.filter__reset:hover,
.filter__reset:active {
  background-color: transparent;
}
/* filter end */

/* card start */
.card {
  padding: 44px 70px 41px 70px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 38px;

  gap: 20px;
}

.card__title {
      flex: 0 1 538px;
  -webkit-box-flex: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  -ms-flex: 0 1 538px;
}

.card__select {
  position: relative;

      flex: 0 1 305px;
  -webkit-box-flex: 0;
  height: 49px;
  padding: 0 19px;

  font-size: 18px;
  font-family: "PT Sans";

  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 255px 10px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  -webkit-transition: border-color 0.3s;
       -o-transition: border-color 0.3s;
          transition: border-color 0.3s;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-flex: 0 1 305px;
}

.card__select:hover {
  border-color: #68a2ca;
}

.card__select:disabled {
  opacity: 0.3;
}

.card__select:disabled:hover {
  border-color: #e5e5e5;
}

.card__view-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex: 0 1 216px;
  -webkit-box-flex: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  -ms-flex: 0 1 216px;
  gap: 8px;
}

.card__view-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  -webkit-transition: border-color 0.3s;
       -o-transition: border-color 0.3s;
          transition: border-color 0.3s;
}

.card__view-button--active {
  border: 2px solid #000000;
}

.card__view-button:hover,
.card__view-button:active {
  border: 2px solid #000000;
}

.card__list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 20px;
}

.card__list::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;

  width: 100%;
  height: 0;

  border: 1px solid #e6e6e6;
}

.card__item {
  width: 340px;
  padding: 19px;
  padding-bottom: 21px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 17px;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 17px;
}

.card__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.card__info {
  display: -ms-grid;
  display:     grid;

  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;

  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__text--price {
  -ms-grid-column-align: end;
  justify-self: end;
}

.card__button--link {
  background-color: #756157;
}

.card__button--favorite {
  background-color: #82b3d3;
}

.card__button--favorite:hover,
.card__button--favorite:active {
  background-color: #68a2ca;
}

.card__button--selected-distinction {
  background-color: #7db54f;
}

.card__button--selected-distinction:hover,
.card__button--selected-distinction:active {
  background-color: #6c9e42;
}

.card__button--rating {
  font-weight: 400;
  color: #000000;

  background-color: #e6e6e6;
}

.card__button--rating:active {
  color: rgb(0, 0, 0);
}

.card__button--rating:hover,
.card__button--rating:active {
  background-color: #e6e6e6;
}

.card__star {
  display: -ms-grid;
  display:     grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 2px;
  -ms-grid-columns: 21px 2px 21px 2px 21px 2px 21px 2px 21px;
  grid-template-columns: repeat(5, 21px);
}

.card__star-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 21px;
  height: 21px;
}

.card__star-svg {
  color: #83b3d3;
}
/* card end */

/* pagination start */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;

  gap: 8px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;

  -webkit-transition: background-color 0.3s, color 0.3s, opacity 0.3s;
       -o-transition: background-color 0.3s, color 0.3s, opacity 0.3s;
          transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.pagination__link:hover {
  background-color: #68a2ca;
}

.pagination__link:active {
  opacity: 0.3;
}

.pagination__link--active {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination__link--active:hover {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination__link--active:active {
  opacity: 1;
}

.pagination__link--continuation {
  color: #000000;

  background-color: transparent;
}

.pagination__link--continuation:hover {
  color: #000000;

  background-color: transparent;
}

.pagination__link--continuation:active {
  opacity: 1;
}
/* pagination end */

/* modal start */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(241, 241, 241, 0.9);
}

.modal__inner {
  position: relative;

  width: 717px;
  margin: auto;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal__title {
  margin-bottom: 64px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal__button-close {
  content: "";
  position: absolute;
  top: 64px;
  right: 70px;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #f2f2f2;
  background-image: url("../images/modal-button-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;

  -webkit-transition: background-color 0.3s, opacity 0.3s;
       -o-transition: background-color 0.3s, opacity 0.3s;
          transition: background-color 0.3s, opacity 0.3s;
}

.modal__button-close:hover {
  background-color: #e6e6e6;
}

.modal__button-close:active {
  opacity: 0.6;
}

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__block--date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}

.modal__block--people {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 48px;

  gap: 88px;
}

.modal__field {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__field--date {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__label {
  margin-right: auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__input {
  position: relative;

  width: 440px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  background-image: url("../images/modal-date.svg");
  background-repeat: no-repeat;
  background-position: 402px center;

  -webkit-transition: background-color 0.3s;
       -o-transition: background-color 0.3s;
          transition: background-color 0.3s;
}

.modal__input:hover {
  background-color: #e6e6e6;
}

.modal__input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.modal__input::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.modal__input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.modal__input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.modal__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
}

.modal__input:disabled + .modal__text--disabled,
.modal__input:disabled + .modal__text--departure {
  position: absolute;
  top: 50px;

  display: block;
}

.modal__text {
  width: 100%;
  margin-bottom: 23px;
  margin-left: 156px;
  padding: 8px;

  font-size: 16px;
  line-height: 21px;
}

.modal__text--disabled {
  color: #ff5757;
}

.modal__text--departure {
  color: #000000;
}

.modal__block-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 46px;

  background-color: #f2f2f2;
}

.modal__button-number {
  width: 40px;
  height: 48px;
  padding: 14px 10px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;

  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.modal__button-number:hover,
.modal__button-number:focus {
  opacity: 1;
}

.modal__button-number:active {
  opacity: 0.3;
}

.modal__button-number--minus {
  background-image: url("../images/modal-button-minus.svg");
}

.modal__button-number--plus {
  background-image: url("../images/modal-button-plus.svg");
}

.modal__number {
  width: 31px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
}

.modal__number::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.modal__number::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.modal__number:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.modal__number::-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.modal__number::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #000000;
}

.modal__info {
  padding-right: 30px;
}

.modal__info-tooltip {
  position: absolute;

  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: 10px;
}

.modal__info-button {
  display: block;

  background-color: transparent;
  border: none;
}

.modal__info-icon {
  display: block;
  width: 100%;
  height: 100%;

  color: #83b3d3;
}

.modal__info-text {
  position: absolute;
  top: 35px;
  left: -120px;
  z-index: 1;

  display: none;
  width: 256px;
  padding: 15px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.modal__info-text::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;

  width: 19px;
  height: 9px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../images/modal-triangle.svg");
}

.modal__info-button:hover + .modal__info-text,
.modal__info-button:focus + .modal__info-text {
  display: block;
}

.modal__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  padding: 0;

  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 10px;

  -webkit-transition: background-color 0.3s;
       -o-transition: background-color 0.3s;
          transition: background-color 0.3s;
}

.modal__submit:hover {
  background-color: #68a2ca;
}

.modal__submit-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;

  line-height: 60px;

  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.modal__submit-text:active {
  opacity: 0.3;
}
/* modal end */
